---
import BaseLayout from "../../layouts/BaseLayout.astro";

const { slug } = Astro.params;

let res = await fetch(`https://itsmil.es/wp-json/wp/v2/posts?slug=${slug}`);
let [post] = await res.json();

// The getStaticPaths() is required for static Astro sites.
// If using SSR, you will not need this function.
export async function getStaticPaths() {
	let data = await fetch("https://itsmil.es/wp-json/wp/v2/posts");
	let posts = await data.json();

	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post: post },
	}));
}
---

<BaseLayout
	pageTitle={post.title.rendered}
	pageDescription={post.content.rendered}
>
	<section>
		<h1 set:html={post.title.rendered} />
		<div set:html={post.content.rendered} />
	</section>
</BaseLayout>
