---
import "../scss/app.scss";

import Loader from "../components/Loader.astro";
import Smoother from "../components/Smoother.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { pageTitle } = Astro.props;
const { pageDescription } = Astro.props;
const canonicalURL = Astro.url;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>

		{/* SEO */}
		<title>{pageTitle}</title>
		<meta
			name="description"
			content={pageDescription}
		/>
		<link
			rel="canonical"
			href={canonicalURL}
		/>

		{/* Open Graph */}
		<meta
			property="og:title"
			content={pageTitle}
		/>
		<meta
			property="og:description"
			content={pageDescription}
		/>
		<meta
			property="og:url"
			content={canonicalURL}
		/>
	</head>
	<body data-barba="wrapper">
		<Loader />
		<Header />
		<Smoother>
			<main
				data-barba="container"
				data-barba-namespace={pageTitle}
			>
				<slot />
			</main>
			<Footer />
		</Smoother>
	</body>
	<script src="../js/app.js"></script>
</html>
